@page "/Acerca_de"
@rendermode InteractiveServer

<h1 class="titulo">Acerca de</h1>

<p class="introduccion">En esta sección les enseñaré un poco más de mí</p>

<img src="images/Wikelson.jpg" alt="Imagen Wikelson" class="imagen-estilo">

<h5 class="nombre">Wikelson Diaz Alcantara</h5>

<div class="contact-links">
    <p>
        <strong>Link para mi WhatsApp:</strong><br>
        <a href="https://wa.me/8498471061" target="_blank" class="enlace">Chatear por WhatsApp</a>
    </p>
    <p>
        <strong>Link para mi Telegram:</strong><br>
        <a href="https://t.me/WikelsonDiaz" target="_blank" class="enlace">Chatear por Telegram</a>
    </p>
    <p>
        <strong>Correo electrónico:</strong><br>
        20230974@itla.edu.com
    </p>
    <p>
        <strong>Objetivos:</strong><br>
        Cuando termine la carrera en el ITLA, pienso buscar empleo en una empresa internacional, viajar y al mismo tiempo trabajar como freelancer para tener mi propio negocio.
    </p>
</div>