@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Presentación</h1>


<h1>¡Bienvenido a mi Tarea! 👋</h1>
<p>Gracias por tomarte el tiempo de revisar mi trabajo. Espero que encuentres este proyecto interesante y que te motive a seguir aprendiendo y explorando el fascinante mundo de la programación web. Es un camino lleno de retos, pero también de grandes recompensas.</p>
<p>💡 "Cada línea de código que escribes es un paso más hacia la creación de algo increíble."</p>
<p>💡 "No hay límites en lo que puedes lograr con la programación, solo los que te pongas tú mismo."</p>

<div class="image-container">
        <img class="img-fluid" 
            src="https://img.freepik.com/fotos-premium/personas-chocan-punos-codifican-pantalla-computadora-desarrollo-software-o-exito-programacion-ti-desarrollador-o-programador-apoyan-motivacion-o-colaboracion-codificacion-o-tecnologia-informacion_590464-217702.jpg" 
            alt="Desarrolladores colaborando">
    </div>



